@charset "UTF-8";
/* CSS Document */
body {
	font-size: 16px;
	line-height: 32px;
	fot-family: sans-serif;
	color: blue;
}

h1 { 
font-size: 16px(rem is a unit of measure) */
color: */;
}

h1 {
	font size : 16px;
color: blue;
}
Background {
	background color: grey;
	
}